@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Space Grotesk, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }
}
